$game-card-bgc: $color-gray-6;

.games {
  @include resetList();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.games-empty-card {
  width: 11%;
  height: 150px;
  background-color: $game-card-bgc;
  border-radius: var(--npc-borderRadiusLG);
}

.games-a {
  .games-empty-card {
    width: 11%;
  }
}
.games-b {
  .games-empty-card {
    width: 31%;
  }
}
