$header-color-dark: $color-text-dark;
$header-color-light: $color-text-light;
$header-shadow-dark: 0 0 10px 0 $color-gray-10;
$header-shadow-light: 0 0 10px 0 $color-gray-4;

$header-height: $layout-header-height;
$header-padding-x: $gap-base;

.header {
  &.dark {
    background-color: var(--npc-layoutHeaderBgcDark);
    color: $header-color-dark;
    box-shadow: $header-shadow-dark;
  }
  &.light {
    background-color: var(--npc-layoutHeaderBgcLight);
    color: $header-color-light;
    box-shadow: $header-shadow-light;
  }
  width: 100%;
  position: relative;
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: $header-padding-x;
  padding-right: $header-padding-x;
}
.header-logo {
  &.dark {
    background-color: var(--npc-layoutHeaderBgcDark);
    color: $header-color-dark;
  }
  &.light {
    background-color: var(--npc-layoutHeaderBgcLight);
    color: $header-color-light;
  }
}

.header-a {
  z-index: $z-index-header;
  display: flex;
  align-items: center;

  .header-logo {
    width: calc($layout-sidebar-width - $header-padding-x);
  }

  .header-container {
    width: calc(100% - $layout-sidebar-width);
  }

  .header-container-btns {
    width: $layout-article-width;
    margin: 0 auto;
    text-align: right;
    padding-left: $header-padding-x;
    padding-right: $header-padding-x;
  }
}
.header-b {
  z-index: $z-index-sidebar;

  .header-container {
    width: $layout-article-width;
    margin: 0 auto;
    text-align: right;
    padding-left: $header-padding-x;
    padding-right: $header-padding-x;
  }
}
