$article-color-dark: $color-text-dark;
$article-color-light: $color-text-light;

.article {
  &.dark {
    background-color: var(--npc-layoutArticleBgcDark);
    color: $article-color-dark;
  }
  &.light {
    background-color: var(--npc-layoutArticleBgcLight);
    color: $article-color-light;
  }
  height: 100%;
}
.article-container {
  padding: $gap-xxl $gap-base;
  width: $layout-article-width;
  margin: 0 auto;
}
