$article-bg-dark: $color-gray-8;
$article-bg-light: $color-gray-1;
$article-color-dark: $color-text-dark;
$article-color-light: $color-text-light;

.article {
  &.dark {
    background-color: $article-bg-dark;
    color: $article-color-dark;
  }
  &.light {
    background-color: $article-bg-light;
    color: $article-color-light;
  }
  height: 100%;
}
.article-container {
  padding: $gap-base;
  width: $layout-article-width;
  margin: 0 auto;
}
