.main {
  width: 100vw;
  height: 100vh;
}
.main-editor {
  width: calc(100vw - $layout-editor-width);
  position: fixed;
  top: 0;
  right: 0;
}

.container-a {
  display: flex;
  flex-wrap: nowrap;

  .container-a-main {
    width: calc(100vw - $layout-sidebar-width);
    height: calc(100vh - $layout-header-height);
  }
}
.container-b {
  width: calc(100vw - $layout-sidebar-width);
  display: flex;
  flex-wrap: nowrap;

  .container-b-content {
    &.admin {
      width: calc(100vw - $layout-sidebar-width - $layout-editor-width);
    }
  }

  .container-b-main {
    width: 100%;
    height: calc(100vh - $layout-header-height);
  }
}
