/* 
🔴🔴🔴
Warning!!!!
This project is global level for many project, so please do NOT change any value here!!!!!
🔴🔴🔴
*/

/* 
use this prompt to generate colors by ai:

use this website palette tool to generate colors for #faad14: https://ant.design/docs/spec/colors#palette-generation-tool

*/
// NOTE color palettes
$color-gray-1: #fafafa;
$color-gray-2: #f0f0f0;
$color-gray-3: #d9d9d9;
$color-gray-4: #bfbfbf;
$color-gray-5: #8c8c8c;
$color-gray-6: #595959;
$color-gray-7: #434343;
$color-gray-8: #262626;
$color-gray-9: #1f1f1f;
$color-gray-10: #141414;

$color-text-dark: $color-gray-2;
$color-text-light: $color-gray-7;

$color-editing-border: #3370ff;

// NOTE border radius
$border-radius-base: 6px;
$border-radius-sm: 4px;
$border-radius-lg: 8px;
$border-radius-xl: 12px;
$border-radius-xxl: 16px;

// NOTE font size
$font-size-base: 1rem;
$font-size-sm: $font-size-base * 0.8;
$font-size-lg: $font-size-base * 1.2;
$font-size-xl: $font-size-base * 1.6;
$font-size-xxl: $font-size-base * 2;

// NOTE gap
$gap-base: 1rem;
$gap-sm: $gap-base * 0.6;
$gap-lg: $gap-base * 1.2;
$gap-xl: $gap-base * 1.6;
$gap-xxl: $gap-base * 2;

// NOTE transition
$transition-base: 0.3s all;

// NOTE z-index
$z-index-header: 2;
$z-index-sidebar: 1;

// NOTE layout
$layout-editor-width: 400px;
$layout-header-height: 64px;
$layout-sidebar-width: 240px;
$layout-article-width: 1200px;

// NOTE mixins
@mixin resetList() {
  padding-left: unset;
  margin: unset;
  list-style-type: none;
}
