$logo-bg-dark: $color-gray-6;
$logo-bg-light: $color-gray-2;
$logo-color-dark: $color-gray-2;
$logo-color-light: $color-gray-6;

.logo {
  &.dark {
    color: $logo-color-dark;
  }
  &.light {
    color: $logo-color-light;
  }
}
